<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Monday</key>
	<array>
		<dict>
			<key>name</key>
			<string>Sinful Monday</string>
			<key>startTime</key>
			<string>22:00</string>
			<key>about</key>
			<string>Hosted by Bootsie Lefaris with a special guest every week.</string>
			<key>locationName</key>
			<string>Pieces</string>
			<key>address</key>
			<string>8 Christopher St, New York, NY  10014, United States</string>
			<key>latitude</key>
			<string>40.733837999999999</string>
			<key>longitude</key>
			<string>-74.000082000000006</string>
		</dict>
	</array>
	<key>Tuesday</key>
	<array>
		<dict>
			<key>name</key>
			<string>Sinful Tuesday</string>
			<key>startTime</key>
			<string>22:00</string>
			<key>about</key>
			<string>Hosted by Bootsie Lefaris with a special guest every week.</string>
			<key>locationName</key>
			<string>Pieces</string>
			<key>address</key>
			<string>8 Christopher St, New York, NY  10014, United States</string>
			<key>latitude</key>
			<string>40.733837999999999</string>
			<key>longitude</key>
			<string>-74.000082000000006</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Thirsty Thursdays Rise</string>
			<key>startTime</key>
			<string>22:00</string>
			<key>about</key>
			<string>Thirsty Thursdays at Rise Bar is Your Top Place for Top Music Videos Every Thursday enjoy Top music videos from all decades at Rise gay bar in Hell’s Kitchen. Start the weekend early with surprise performances and giveaways throughout the evening. Read more at</string>
			<key>locationName</key>
			<string>Pieces</string>
			<key>address</key>
			<string>8 Christopher St, New York, NY  10014, United States</string>
			<key>latitude</key>
			<string>40.733837999999999</string>
			<key>longitude</key>
			<string>-74.000082000000006</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Best of Queerball</string>
			<key>startTime</key>
			<string>22:00</string>
			<key>about</key>
			<string>Queerball is going PRIMETIME, mama! UCBT East Village’s *premiere* LGBTQ+ Comedy Variety Show is back for a very special BEST OF show! Come see some of the best queer performers (and our friends and allies!) take the stage and bring the heat like only these queerballs can! Standup! Characters! Music! Dance! Other weird and funny stuff! The sky’s the limit! Hosted by your fun uncle who used to let you drive the pontoon boat when you were too young, Timothy Dunn!</string>
			<key>locationName</key>
			<string>Pieces</string>
			<key>address</key>
			<string>8 Christopher St, New York, NY  10014, United States</string>
			<key>latitude</key>
			<string>40.733837999999999</string>
			<key>longitude</key>
			<string>-74.000082000000006</string>
		</dict>
	</array>
	<key>Wednesday</key>
	<array>
		<dict>
			<key>name</key>
			<string>Sinful Wednesday</string>
			<key>startTime</key>
			<string>22:00</string>
			<key>about</key>
			<string>Hosted by Bootsie Lefaris with a special guest every week.</string>
			<key>locationName</key>
			<string>Pieces</string>
			<key>address</key>
			<string>8 Christopher St, New York, NY  10014, United States</string>
			<key>latitude</key>
			<string>40.733837999999999</string>
			<key>longitude</key>
			<string>-74.000082000000006</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jasmine LIVE</string>
			<key>startTime</key>
			<string>22:00</string>
			<key>about</key>
			<string>Hosted by Jasmine Rice LaBeija with Holly Box-Springs &amp; Terra Hyman</string>
			<key>locationName</key>
			<string>Pieces</string>
			<key>address</key>
			<string>8 Christopher St, New York, NY  10014, United States</string>
			<key>latitude</key>
			<string>40.733837999999999</string>
			<key>longitude</key>
			<string>-74.000082000000006</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Trading Spaces</string>
			<key>startTime</key>
			<string>22:00</string>
			<key>about</key>
			<string>Hosted by Yuhua Hamasaki from RuPaul&apos;s Drag Race</string>
			<key>locationName</key>
			<string>Pieces</string>
			<key>address</key>
			<string>8 Christopher St, New York, NY  10014, United States</string>
			<key>latitude</key>
			<string>40.733837999999999</string>
			<key>longitude</key>
			<string>-74.000082000000006</string>
		</dict>
	</array>
	<key>Thursday</key>
	<array>
		<dict>
			<key>name</key>
			<string>Sinful Thursday</string>
			<key>startTime</key>
			<string>22:00</string>
			<key>about</key>
			<string>Hosted by Bootsie Lefaris with a special guest every week.</string>
			<key>locationName</key>
			<string>Pieces</string>
			<key>address</key>
			<string>8 Christopher St, New York, NY  10014, United States</string>
			<key>latitude</key>
			<string>40.733837999999999</string>
			<key>longitude</key>
			<string>-74.000082000000006</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ruffhouse</string>
			<key>startTime</key>
			<string>22:00</string>
			<key>about</key>
			<string>Monthly themed underwear party... check out</string>
			<key>locationName</key>
			<string>Pieces</string>
			<key>address</key>
			<string>8 Christopher St, New York, NY  10014, United States</string>
			<key>latitude</key>
			<string>40.733837999999999</string>
			<key>longitude</key>
			<string>-74.000082000000006</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Queen4Queen</string>
			<key>startTime</key>
			<string>22:00</string>
			<key>about</key>
			<string>Momo Shade and Kandy Muse</string>
			<key>locationName</key>
			<string>Pieces</string>
			<key>address</key>
			<string>8 Christopher St, New York, NY  10014, United States</string>
			<key>latitude</key>
			<string>40.733837999999999</string>
			<key>longitude</key>
			<string>-74.000082000000006</string>
		</dict>
	</array>
	<key>Friday</key>
	<array>
		<dict>
			<key>name</key>
			<string>Sinful Friday</string>
			<key>startTime</key>
			<string>22:00</string>
			<key>about</key>
			<string>Hosted by Bootsie Lefaris with a special guest every week.</string>
			<key>locationName</key>
			<string>Pieces</string>
			<key>address</key>
			<string>8 Christopher St, New York, NY  10014, United States</string>
			<key>latitude</key>
			<string>40.733837999999999</string>
			<key>longitude</key>
			<string>-74.000082000000006</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RuPaul’s Drag Race All Stars S3 Viewing Party at Mr Biggs</string>
			<key>startTime</key>
			<string>22:00</string>
			<key>about</key>
			<string>The Olympics of Drag Returns!!!! Starting January 25th</string>
			<key>locationName</key>
			<string>Pieces</string>
			<key>address</key>
			<string>8 Christopher St, New York, NY  10014, United States</string>
			<key>latitude</key>
			<string>40.733837999999999</string>
			<key>longitude</key>
			<string>-74.000082000000006</string>
		</dict>
		<dict>
			<key>name</key>
			<string>All Stars RDR S3 Premiere w/ Alotta, Heidi, Megababe, Debbie Cupcakes</string>
			<key>startTime</key>
			<string>22:00</string>
			<key>about</key>
			<string>Rupaul&apos;s Drag Race ALL STARS LIVE AT Macri Park!!! with ACID BETTY, Alotta McGriddles, Miz Jade, Heidi Glum</string>
			<key>locationName</key>
			<string>Pieces</string>
			<key>address</key>
			<string>8 Christopher St, New York, NY  10014, United States</string>
			<key>latitude</key>
			<string>40.733837999999999</string>
			<key>longitude</key>
			<string>-74.000082000000006</string>
		</dict>
	</array>
	<key>Saturday</key>
	<array>
		<dict>
			<key>name</key>
			<string>Sinful Saturday</string>
			<key>startTime</key>
			<string>22:00</string>
			<key>about</key>
			<string>Hosted by Bootsie Lefaris with a special guest every week.</string>
			<key>locationName</key>
			<string>Pieces</string>
			<key>address</key>
			<string>8 Christopher St, New York, NY  10014, United States</string>
			<key>latitude</key>
			<string>40.733837999999999</string>
			<key>longitude</key>
			<string>-74.000082000000006</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MEAT - DJ Nina Flowers - Special Event</string>
			<key>startTime</key>
			<string>23:00</string>
			<key>about</key>
			<string>M.E.A.T. returns Saturday, November 11th with Daddy issues... Unleash your deepest, dirtiest desires. Strap on that harness squeeze into your leather gear and get ready to SWEAT at our exclusive underground playground: KING.\n\nDJ NINA FLOWERS makes her M.E.A.T. debut back pumping the dancefloor for NYC&apos;s SEXIEST men, plus enjoy a fresh selection of beats by red-hot JOE PACHECO heating up our all-new &quot;MARKET&quot;. Oil up and save big by getting your presale tickets now.\n\nPresented by John Blair and Jake Resnicow in association with Alan Picus and Joe Roszak.</string>
			<key>locationName</key>
			<string>237 W 42nd St</string>
			<key>address</key>
			<string>New York, NY, United States</string>
			<key>latitude</key>
			<string>40.756836900000003</string>
			<key>longitude</key>
			<string>-73.988439900000003</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gayzer Tag: November~Holiday Edition / Presented by Guy Social</string>
			<key>startTime</key>
			<string>20:00</string>
			<key>endTime</key>
			<string>23:00</string>
			<key>about</key>
			<string>You&apos;re invited to the next monthly edition of GAYZER TAG!\n\nFeaturing: \n*UNLIMITED LASER TAG\n*UNLIMITED BOWLING\n* $8 GREY GOOSE DRINKS/ $14 FEATURED BEER PITCHERS\n*200 GREAT GUYS TO MEET N&apos; MINGLE WITH!\n\n*PLUS* NEW GAME PLAY IN THE ARENA + MONTHLY PRIZES!\n\n~Master Blaster Reward: Highest Individual Laser Tag Score in solo rounds wins a drink ticket. (one win per guest)\n\n~Group Starter: Bring 4 friends, (Groups of 5 or more) start with a free pitcher or appetizer. (tickets must all be purchased together online or in person\n\nFee: $15 VERY LIMITED EARLY BIRD / $20 ADVANCE TICKETS / $25 @ THE DOOR---GET YOURS AHEAD OF TIME AND SAVE\n\n$15 Student / $20 Advance / $25 Door</string>
			<key>locationName</key>
			<string>Bowlmor Chelsea Piers</string>
			<key>address</key>
			<string>Chelsea Piers - Pier 60, New York, NY 10011, United States</string>
			<key>latitude</key>
			<string>40.7459737</string>
			<key>longitude</key>
			<string>-74.009220400000004</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Super Size Queen</string>
			<key>startTime</key>
			<string>20:00</string>
			<key>endTime</key>
			<string>23:00</string>
			<key>about</key>
			<string>Come cruise the guys at Hardware Bar with Bootsie Lefaris &amp; DJ Mike Borowki. Produced by Paul Mazur and Matthew Gagnon with Victor Borbolla, Willito Rivera, Joe Buffa, Hans Then and JJ Mack</string>
			<key>locationName</key>
			<string>Bowlmor Chelsea Piers</string>
			<key>address</key>
			<string>Chelsea Piers - Pier 60, New York, NY 10011, United States</string>
			<key>latitude</key>
			<string>40.7459737</string>
			<key>longitude</key>
			<string>-74.009220400000004</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TORQ – 2018 Cherry Kickoff Party</string>
			<key>startTime</key>
			<string>20:00</string>
			<key>endTime</key>
			<string>23:00</string>
			<key>about</key>
			<string>Life is more than just black and white, so get ready to #DanceInColor; TORQ returns this March, but it’s time to take it to the next level! EPC Productions has partnered with LaFantasy Productions to bring you NYC’s official Cherry Kick-Off Party for Cherry 2018: Kaleidoscope. Returning home to RetroClub NYC, the event will be held on Sunday, March 25th at a NEW time of 7PM-1AM. TORQ will be powered by the sounds of DJ Serving Ovahness, so get ready for an electrifying Sunday!</string>
			<key>locationName</key>
			<string>Bowlmor Chelsea Piers</string>
			<key>address</key>
			<string>Chelsea Piers - Pier 60, New York, NY 10011, United States</string>
			<key>latitude</key>
			<string>40.7459737</string>
			<key>longitude</key>
			<string>-74.009220400000004</string>
		</dict>
	</array>
	<key>Sunday</key>
	<array>
		<dict>
			<key>name</key>
			<string>Sinful Sunday</string>
			<key>startTime</key>
			<string>22:00</string>
			<key>about</key>
			<string>Hosted by Bootsie Lefaris with a special guest every week.</string>
			<key>locationName</key>
			<string>Pieces</string>
			<key>address</key>
			<string>8 Christopher St, New York, NY  10014, United States</string>
			<key>latitude</key>
			<string>40.733837999999999</string>
			<key>longitude</key>
			<string>-74.000082000000006</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tall Gay Agenda: NYC&apos;s Monthly Tall Party (all heights welcome!)</string>
			<key>startTime</key>
			<string>20:00</string>
			<key>about</key>
			<string>Join NYC&apos;s network of tall gays &amp; the people who love them. We have regular social gatherings for guys to make new friends and find husbands. The vibe is friendly &amp; the guys are great!</string>
			<key>locationName</key>
			<string>Pieces</string>
			<key>address</key>
			<string>8 Christopher St, New York, NY  10014, United States</string>
			<key>latitude</key>
			<string>40.733837999999999</string>
			<key>longitude</key>
			<string>-74.000082000000006</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Boy Bordello:VIP Exhibition Preview and Sale</string>
			<key>startTime</key>
			<string>20:00</string>
			<key>about</key>
			<string>One Night Only - 15% off all art purchases</string>
			<key>locationName</key>
			<string>Pieces</string>
			<key>address</key>
			<string>8 Christopher St, New York, NY  10014, United States</string>
			<key>latitude</key>
			<string>40.733837999999999</string>
			<key>longitude</key>
			<string>-74.000082000000006</string>
		</dict>
	</array>
</dict>
</plist>
